*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
    
}

body{
    background-color: #020f19f2; 
    font-family: "Poppins", sans-serif;
    background: url(home.png);
    background-position: center;
    background-size: cover;
    /* height: 100vh; */
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    letter-spacing: 3 px;
    text-shadow: 5px 2px 30px  whitesmoke;
    font-size: 27px;
    color: aquamarine;
    text-decoration: none;
    font-weight: 750;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.2);
}

.icons{
    position: absolute;
    bottom: 40px;
    width: 170px;
    margin: 0px 0 0 800px;
    display: flex;
    justify-content: space-between;
}

.icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    color: #00abf0;
    font-size: 24px;
    border: 2px solid #00abf0;
    border-radius: 50%;
    text-decoration: none;
    transition: .5s ease;
}

.icons a :hover{
    box-shadow: 0 0 50px #00abf0;
    color: aquamarine ;
}

.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin-left: 40px;
    transition: 0.3s;
}
.navbar .active{
    color: aquamarine;
}

.navbar a:hover{
    color: aquamarine;
}

.jj{
    /* background-color: aquamarine; */
    margin: 180px 80px  0px ;
    max-width: 60%;
}

.about h1{
    color: rgb(7, 123, 170);
    font-size: 56px;
    font-weight: 700;
}

.about h3{
    color: rgb(83, 206, 255);
    font-size: 37px;
    font-weight: 700;
}
.about p{
    color: antiquewhite;
    font-size: 20px;
    margin-top: 30px;
}
.hehe{
    /* background-color: crimson; */
    margin-top: 30px;
    max-width: 300px;
    margin-left: 150px;
    /* justify-content: space-between; */
    align-items: center;
    
}

.he{
    color: white;
    margin-left: 130px;
    padding: 10px 30px;
    background: transparent;
    border: 2px solid #00abf0;
    transition: .5s ease;
    border-radius: 20px;
    letter-spacing: 5px;
    color: #00abf0;
}
.hee{
    margin-left: 25px;
    padding: 8px 20px;
    background: black;
    border: 2px solid rgb(33, 77, 111);
    color: white;
}
.he:hover{
    color: aqua;
    background-color: black;
    box-shadow: 0px 0px 90px rgba(18, 69, 208, 0.748);
    cursor: pointer;
    transform: scale(.7);
}
.hee:hover{
    background: transparent;
}
